@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: grey;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.text-stroke {
  text-shadow:
    2px 2px 0 var(--stroke-color, black),
    -1px -1px 1px var(--stroke-color, black),
    1px -1px 1px var(--stroke-color, black),
    -1px 1px 1px var(--stroke-color, black),
    1px 1px 1px var(--stroke-color, black);
}

.text-stroke-white {
  --stroke-color: white;
}

.btn {
  @apply font-bold py-2 px-4 rounded-full border-black border-2 text-white;
}

.gray-background {
  background-color: gray;
  transition: background-color 0.75s ease;
}

.red-background {
  background-color: red;
  transition: background-color 0.75s ease;
}

.blue-background {
  background-color: blue;
  transition: background-color 0.75s ease;
}

.black-background {
  background-color: black;
  transition: background-color 0.75s ease;
}
